.logo-span{
    background-color: #e42929c7;
    color: white;
    border-radius: 5px;
    margin: 2px;
    display: inline-flex;
    align-items: center;
    padding: 2px;
    height: 80%;
    width: 10%;
}
.logo-link{
    text-decoration: none;
}
div{
    width: 200px;
    height: 200px;
}