.reg-form-container{
    padding: 2px; 
    margin: 2px;
}
.reg-form-row{
    border-radius: 25px;
    margin: 4%;
    width: 35%;
    padding: 7px;
    background-color: #4e567d;

}
.sm-margin{
    margin: 2px;
}